{% extends 'base.html' %}
{% block titleblock %}
    Customers |
{% endblock titleblock %}
{% block customerblock %}
  

    <div class="container my-3">
        <h2>Add Customer</h2>
        <form method='post' action="/customer">
            <div class="form-group">
                <label for="c_name">Customer Name</label>
                <input type="text" class="form-control" name='c_name' id="c_name" aria-describedby="emailHelp" placeholder="Enter name">
              </div>
            <div class="form-group">
              <label for="c_email">Email address</label>
              <input type="email" class="form-control" name='c_email' id="c_email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="c_phone">Phone No</label>
              <input type="text" class="form-control" name='c_phone' id="c_phone" placeholder="Enter phone number">
            </div>
         
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <div>

            {% with messages = get_flashed_messages() %}
            {% if messages %}


            {% for message in messages %}
            <div class="alert alert-primary my-3" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>


    <div class="container my-3">
        <h2>Customer Table</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Sno</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Customer Email</th>
                <th scope="col">Customer Phone No</th>
              </tr>
            </thead>
            <tbody>
              {% for customer in allcustomer %}
                  
              
              <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ customer.c_name }}</td>
                <td>{{ customer.c_email }}</td>
                <td>{{ customer.c_phone }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
 
{% endblock customerblock %}