{% extends 'base.html' %}
{% block titleblock %}
    Developer Info |
{% endblock titleblock %}

{% block developerblock %}

<div class="jumbotron vertical-center" >

    <div class="card">
        <div class="card-header">
          Nikhil Somani  |  Data Enthusiast  |  Software Developer
        </div>
        <div class="card-body">
          <h5 class="card-title">Made with <span style="color: #e25555;">&hearts;</span> for <img src="static/logo.svg" alt=""></h5>
          <p class="card-text"></p>
          <a href="https://www.linkedin.com/in/nikhilsomaniecb/" class="btn btn-primary">My LinkedIn</a>
        </div>
      </div>
</div>

{% endblock developerblock %}
